html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
hr{
  margin: 0;
  padding: 0;
}

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

header,
footer,
section,
nav {
	display: block;
}

hr {
	background-color: #dbdbdb;
	border: none;
	display: block;
	height: 1px;
	margin: 1.5rem 0;
}

img {
  height: auto;
  max-width: 100%;
}

.container-content{
  margin: 0 auto;
  width: 1152px;
  position: relative;
  text-align: center;
  align-items: stretch;
  /*width: 100%;*/
}

.kekiri{
	float: left!important;
}

.kekanan{
	float: right!important;
}

.terklip{
	overflow: hidden!important;
}

.texttengah{
  text-align: center!important;
}

.textrapi{
	text-align: justify!important;
}

.textkiri{
	text-align: left!important;
}

.textkanan{
	text-align: right!important;
}

.textputih{
	color: white!important;
}

a.textputih:hover,
a.textputih:focus{
	color: #e6e6e6!important;
}

.texthitam{
  color: #0a0a0a!important;
}

a.texthitam:hover,
a.texthitam:focus{
  color: black!important;
}

.text-light{
  color: whitesmoke!important;
}

a.text-light:hover,
a.text-light:focus{
  color: #dbdbdb!important;
}

.text-dark{
  color: #363636!important;
}

a.text-dark:hover,
a.text-dark:focus{
  color: #1c1c1c!important;
}

.text-primary{
  color: #00d1b2!important;
}

a.text-primary:hover,
a.text-primary:focus{
  color: #009e86!important;
}

.text-link{
  color: #3273dc!important;
}

a.text-link:hover,
a.text-link:focus{
  color: #205bbc!important;
}

.text-info{
  color: #209cee!important;
}

a.text-info:hover,
a.text-info:focus{
  color: #0f81cc!important;
}

.text-succes{
  color: #23d160!important;
}

a.text-succes:hover,
a.text-succes:focus{
  color: #1ca64c!important;
}

.text-warning{
  color: #ffdd57!important;
}

a.text-warning:hover,
a.text-warning:focus{
  color: #ffd324!important;
}

.text-danger{
  color: #ff3860!important;
}

.footer{
	 padding: 3rem 1.5rem 6rem;
	 background: ;
}

.hero-main{
	min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: stretch;
  background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("images/HeavenlyBG.png");
}
.kepala{
  flex-grow: 0;
  flex-shrink: 0;
}
.badan{
  padding: 3rem 1.5rem;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.hero-main.badan{
  align-items: center;
  display: flex;
}
.hero-main.badan > .container-content{
  flex-grow: 1;
  flex-shrink: 1;
}
.masthead{
	position: relative;
	background: linear gradient(to bottom rgba(25,25,25,0) 0%, rgba(25,0,0,0) 75%, #161616 100%),url("images/HeavenlyBG.png");
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a.text-danger:hover,
a.text-danger:focus{
  color: #ff0537!important;
}

a:visited{
  color: #3273dc;
}

button {
  border: 1px solid transparent;
  border-radius: 3px;
}

button .outlined{
  border: 1px solid white;
  color: white;
  background-color: transparent;
  align-items: center;
}

.navbar{
  background-color: transparent;
  min-height: 3.5rem;
  position: relative
}

.navbrand{
  margin-left: -1rem;
  min-height: 3.25rem;
  display: flex;
  color: whitesmoke;
  font-family: newsbold;
  float: left;

}
.navmenu{
  display: flex;
  align-items: center;
}

.navend{
  display: flex;
  align-items: stretch;
  /*justify-content: flex-end;*/
  margin-left: auto;
}

.navbrand:hover{
  background-color: whitesmoke;
  color: #0a0a0a;
  transition: 0.3s;
}

.navitem{
  padding: 0.5rem 1rem;
  display: flex;
  position: relative;
  align-items: center;
}

@font-face{
  font-family: stencil;
  src: url('fonts/STENCIL.TTF');
}

@font-face{
  font-family: newsbold;
  src: url('fonts/newsbold.ttf');
}

@font-face{
  font-family: newsitalic;
  src: url('fonts/newsitalic.ttf');
}

@font-face{
  font-family: mtcorsva;
  src: url('fonts/MTCORSVA.TTF');
}