body{   
  margin: 0;
  padding: 0;
}

input::placeholder{
  font-family: newsitalic;
}

i{
    margin: 125px 10px;
    width: 10px;
    height: 10px;
    border: solid whitesmoke;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 7px;
}

* {box-sizing:border-box}

.contain{
    position: relative;
    left: 25%;
    width: 50%;
    border-radius: 50px;
    background-color: #ddd;
}

#img-about{
  margin: 10px 15px;
  margin-top: 0px;
  float: left;
  border-radius: 50%
}

#html,
#css,
#js,
#php{
  color: whitesmoke;
}

.about1{
  height: 20%;
}

.icon a{
  position: relative; 
  left: 33%;
  margin: 50px 10px; 

}

.skills{
    border-radius: 50px; 
    text-align: right;
    padding-right: 20px;
    line-height: 40px; 
    color: white;
}

.container{
  position: relative;
  width: 50%;
}

.image{
  display: block;
}

.preloader{
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

.ferdy{
  z-index: 1001;
}

.overlay{
  position: absolute;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay{
  height: 100%;
}

.text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.html{
  width: 0;
  opacity: 0;
  background-color: #2196F3;
}

.css{
  width: 0;
  opacity: 0;
  background-color: #2196F3;
}
.js{
  width: 0;
  opacity: 0;
  background-color: #f44336;
}
.php{
  width: 0;
  opacity: 0;
  background-color: #8c56b2;
}

.html:hover{
  width: 90%;
  opacity: 1;
  background-color: #4CAF50;
  transition: 0.5s ease-out;
}
.css:hover{
  width: 80%;
  opacity: 1;
  background-color: #2196F3;
  transition: 0.5s ease-out;
}
.js:hover{
  width: 65%;
  opacity: 1;
  background-color: #f44336;
  transition: 0.5s ease-out;
}
.php:hover{
  width: 60%;
  opacity: 1;
  background-color: #8c56b2;
  transition: 0.5s ease-out;
}

.down{
    transform: rotate(45deg);
}
.down:hover{
  transform: scale(1.5) rotate(45deg);
  transition: 0.4s;
}

.main{
  margin: 0;
  padding: 0;
}

#profil{
  position: relative;
  border-radius: 100%;
  margin-top: 90px;
  width: 300px;
  height: 300px;
}

#home{
  min-height: 1000px;
  background: linear-gradient(
    to bottom,
    rgba(1, 1, 1, 0.1) 0%,
    rgba(1, 1, 0, 0.2) 25%,
    rgba(1, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.4) 75%,
    #0a0a0a 100%),
  url('images/HeavenlyBG.png') no-repeat fixed;
  background-size: cover;
  margin-top: -50px;
  color:#fff;
  text-align:center;
  position: relative;
}

hr.home{
  width: 50%;
  color: #0a0a0a;
  background-color: #0a0a0a;
  min-height: 5%;
  border: 2px #0a0a0a solid;
  border-radius: 10px;
}

.banner-home h1{
  padding-top:180px;
}

.banner h1{
  font-size: 30pt;
  font-family: newsbold;

}

.sub-nama{
  font-family: newsitalic;
}

.button{
  margin-top: 100px;
}
.button .btn {
  background: transparent;
  border:1px solid white;
  text-decoration: none;
  color: #fff;
  padding:10px 40px;
  border-radius: 6px;
  transition: .5s;
}

.button .btn:hover{
  background-color: white;
  color: black;
}

#about{
  margin-top: -50px;
  min-height: 740px;
  background-color: #0a0a0a;
}

.judul-kontak{
  font-family: stencil;
  color: #0a0a0a;
  padding-top: 60px;
  font-size:30pt;
  text-align: center;
}

.judul-about{
  font-family: stencil;
  color: white;
  padding-top: 60px;
  font-size:30pt;
  text-align: center;
}

.judul-porto{
  font-family: stencil;
  color: black;
  padding-top: 60px;
  font-size:30pt;
  text-align: center;
}

.garis{
  margin-top: -20px;
  color: #fff;
}
.hr-1{
  width: 200px;
  color: #ff0000;
  border-top:2px solid rgba(0,0,0,.4);
  
}

.hr-2{
  width: 300px;
  color: #000000;
  height: 3px;
  border-radius: 15px;
  background-color: black;
}

.konten1{
  margin: 20px 20px;
  display: inline-block;
  position: relative;
  left: 3.5%; 
}

.konten1 img{
  width: 60px;
}

.user,
.date,
.location,
.collage{
  font-family: newsitalic;
  background-color: white;
  padding: 20px 10px; 
  margin: 11px 11px;
  width: 280px;
  text-align: center;
  border-radius: 25px;
  transition: .4s;
  border: 2px solid white;
}

.user ,
.date ,
.location ,
.collage{
  float:left;
  font-size: 16pt;
}

.images img{
  height: 600px;
  width: 400px;
  float:right;
  margin-top:-30px;
  margin-right: 30px;
}

.user:hover,
.date:hover,
.location:hover,
.collage:hover{
  transform: scale(1.1);
}

#portfolio{
  min-height: 600px;
  background-size: 100% 100%;
  background-color: white;
  margin-top: -50px;
  color: white;

}

.portfolio .hr-1{
  border-top:2px solid #fff;
}

.portfolio .hr-2{
  border-top:2px solid #fff;
}

.img-portfolio{
  margin-left: 50px;
  margin-top: 70px;

}

.img-portfolio .baris-1 img,
.img-portfolio .baris-2 img{
  width: 240px;
  height: 240px;
  margin-right: 50px;
  border:4px solid black;
  border-radius: 3rem;
  transition: .4s;
}

.img-portfolio .baris-1 img:hover,
.img-portfolio .baris-2 img:hover{
  transform: scale(1.1);
}

.img{
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border:4px solid black;
  border-radius: 3rem;
  transition: .4s;
}

.img-portfolio .baris-2 img{
  margin-top: 40px;
  margin-bottom: 50px;
}

#contact{
  background-color: #ffdd57;
  font-family: "Purisa";
  min-height: 700px;
}

.form{
  margin-top: 60px;
  width: 600px;
  text-align: center;
  margin-left: 150px;
}
.form .form-kontak .input{
  width: 83%;
  height: 30px;
  margin: 10px;
  border:1px solid #000;
  border-radius: 10px;
  padding: 0 0 0 10px;
}

.form .form-kontak .message{
  width: 400px;
  height: 30px;
  margin-left: 48px;
  padding-top: 10px;
  resize: none;
}

/*.form button.submit{
  margin-top:20px;
  width: 90px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  background-color: #5cb85c;
  border:0;
  transition: .3s;
}*/

.form button.submit:hover{
  background-color: #5799c3;
}

.form-button .submit{
  margin: 0 5px;
  width: 90px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  background-color: #5cb85c;
  border: 0;
  transition: .3s;
}

table .btn{
  float: right;
  width: 100px;
  
}

.my-kontak{
  float: right;
  border-left: 1px solid #000;
  padding-left: 30px;
  margin-top: -200px;
  margin-right: 150px;
}

.my-kontak table tr td img{
  width: 30px;
}
.my-kontak table tr td{
  width: 70px;
}

.footer {
  background: rgba(0,0,0, .9);
  color: #fff;

  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer p a{
  text-decoration: none;
  color: tomato;
  display: inline-block;
  margin:0px;
  transition: 0.5s;
}

.footer p a:hover{
  transform: scale(1.1);
  color: black;
}

.me{
  margin: 0 5px;
  padding: 5px 11px
}

.sub-kontak{
  font-family: mtcorsva;
}

.me:hover{
  color: black;
  background-color: white;
  border-radius: 3px;
  transition: 1s;
}

.animate-bottom{
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s
}

@keyframes animatebottom{ 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@font-face{
  font-family: stencil;
  src: url('fonts/STENCIL.TTF');
}

@font-face{
  font-family: newsbold;
  src: url('fonts/newsbold.ttf');
}

@font-face{
  font-family: newsitalic;
  src: url('fonts/newsitalic.ttf');
}

@font-face{
  font-family: mtcorsva;
  src: url('fonts/MTCORSVA.TTF');
}