body{   
  margin:0px 0px 0px 0px;
  font-family: calibri;
}
.wrapper{
  margin:0px 0px 0px 0px;
}

.icon{
  margin top: 50px;  
}

.navbar{
  float: right; /* untuk membuat tulisan berada di kanan */
  background: #222;
  box-shadow:0 1px 10px 5px rgba(0, 0, 0, .4); /* membuat shadow/bayangan */
  width: 100%;
  height: 50px; /*mengatur ketinggian navbar*/
  padding: 0;
  text-align: center;
  top: 0;
  position: fixed top; /*untuk membuat navbar tetap berada diatas*/
  z-index: 999; /*untuk membuat navbar berada di paling depan/ tidak akan tertupi*/
}

.navbar ul li{
  list-style: none; /*untuk menghilangkan bullet pada navbar*/
  display: inline-block;
  margin: 0px;
  padding-right:80px; 
  padding-left: 80px; 
  margin-top: -30px;

}

.navbar ul li a{
  text-decoration: none; /*untuk menghilangkan underline pada navbar*/
  color:#fff; /*membuat tulisan navbar warna putih*/
  display: inline-block;
  padding-left:50px;
  padding-right:50px;
  padding: 30px;
  margin:0px;
  font-size: 14pt;
  font-family: Arial;
  transition: 0.5s;
}

.navbar ul li a:hover{ /* hover berfungsi, jika kursor diarahkan akan muncul sebuah efek*/
  transform: scale(1.1);
  color:rgba(255,255,255, .4);
}

/*Home*/
#home{
  min-height: 700px;
  background: url('images/banner.jpg') no-repeat fixed;
  background-size: 100% 100%;
  margin-top: -50px;
  color:#fff;
  text-align:center;
  position: relative;
}

hr.home{
  width: 500px;
}

.banner h1{
  font-size: 30pt;
  font-family: "Purisa";
  padding-top:180px;

}

.banner h4{
  font-size: 12pt;
  font-family: "Purisa";
}

.button{
  margin-top: 100px;
}
.button .btn {
  background: transparent;
  border:1px solid #fff;
  text-decoration: none;
  color: #fff;
  padding:10px 40px;
  border-radius: 10px;
  transition: .5s;
}

.button .btn:hover{
  background: rgba(255,255,255, .7);
  color:rgba(0,0,0, .7);
}

/*About*/
#about{
  min-height: 600px;
}

.judul{
  padding-top: 60px;
  font-size:30pt;
  text-align: center;
  font-family: "Purisa";
}

.garis{
  margin-top: -20px;
  color: #fff;
}
.hr-1{
  width: 200px;
  color: #ff0000;
  border-top:2px solid rgba(0,0,0,.4);
  
}

.hr-2{
  width: 300px;
  color: #ff0000;
  border-top:4px solid rgba(0,0,0, .5);
}

.konten1{
  display: inline-block;
  float: left;
  position: relative;
  margin-left: 30px;
}

.konten1 img{
  width: 60px;
}

.konten1 .user,
.konten1 .date,
.konten1 .location,
.konten1 .collage{
  border: 1px solid #000;
  padding-left:30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 20px;
  margin-top: 20px;
  width: 280px;
  text-align: center;
  border-radius: 10px;
  transition: .4s;
  font-family: "Purisa";
}

table tr td .user ,
table tr td .date ,
table tr td .location ,
table tr td .collage {
  font-size: 16pt;
}

.images img{
  height: 600px;
  width: 400px;
  float:right;
  margin-top:-30px;
  margin-right: 30px;
}

.konten1 .user:hover,
.konten1 .date:hover,
.konten1 .location:hover,
.konten1 .collage:hover{
  transform: scale(1.1);
}

/*Portofolio*/
#portfolio{
  min-height: 600px;
  background-size: 100% 100%;
  background-color: #000;
  margin-top: 200px;
  color: white;

}

.portfolio .hr-1{
  border-top:2px solid #fff;
}

.portfolio .hr-2{
  border-top:2px solid #fff;
}

.img-portfolio{
  margin-left: 50px;
  margin-top: 70px;

}

.img-portfolio .baris-1 img,
.img-portfolio .baris-2 img{
  width: 200px;
  height: 200px;
  margin-right: 50px;
  border:4px solid rgba(255,255,255, .5);
  transition: .4s;
}

.img-portfolio .baris-1 img:hover,
.img-portfolio .baris-2 img:hover{
  transform: scale(1.1);
}

.img-portfolio .baris-2 img{
  margin-top: 40px;
  margin-bottom: 50px;
}

/*Kontak*/
#contact{
  font-family: "Purisa";
  min-height: 500px;
}

.form{
  margin-top: 60px;
  width: 600px;
  text-align: center;
  margin-left: 150px;
}
.form .form-kontak .input{
  width: 500px;
  height: 30px;
  margin-top: 20px;
  border:1px solid #000;
  border-radius: 10px;
  padding: 0 0 0 10px;
}

.form .form-kontak .message{
  width: 400px;
  height: 30px;
  margin-left: 40px;
  padding-top: 10px;
  resize: none;
}

.form button.submit{
  margin-top:20px;
  width: 90px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  background-color: #5cb85c;
  border:0;
  transition: .3s;
}

.form button.submit:hover{
  background-color: #5799c3;
}

table .btn {
  float: right;
  width: 100px;
  
}

.my-kontak{
  float: right;
  border-left: 1px solid #000;
  padding-left: 30px;
  margin-top: -200px;
  margin-right: 150px;
}

.my-kontak table tr td img{
  width: 30px;
}
.my-kontak table tr td {
  width: 70px;
}

.footer {
  background: rgba(0,0,0, .9);
  border-bottom: 4px solid #000;
  color: #fff;

  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer p a{
  text-decoration: none; /*untuk menghilangkan underline pada navbar*/
  color: tomato; /*membuat tulisan navbar warna putih*/
  display: inline-block;
  margin:0px;
  transition: 0.5s;
}

.footer p a:hover{ /* hover berfungsi, jika kursor diarahkan akan muncul sebuah efek*/
  transform: scale(1.1);
}

